@import "tailwindcss";

:root{
  --bg: #f7f7f7;
  --fg: #111111;
  --muted: #5c5c5c;
  --line: #e7e7e7;
  --card: #ffffff;
  --soft: #f1f1f1;
}

html, body{
  font-family: var(--font-noto), system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}
